html  {
    margin: 0 auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*              HEADER FORMATTING 
*/

header {
    display: grid;
    padding: 20px 0px 0 0px;
    grid-template-columns: 100px 50px 600px auto;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

header img {
    grid-column: 1;
    grid-row: 1;
    height: 35px;
    padding-left: 20px;
}

header input {
    grid-column: 3;
    grid-row: 1;
    height: 45px;
    font-size: 13px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid #e2e2e2;
}

header input:focus {
    outline: none;
    box-shadow: 2px 2px 5px #e5e5e5;
}

header input:hover {
    box-shadow: 2px 2px 5px #e5e5e5;
}

header .right-menu {
    grid-column: 5;
    grid-row: 1;
    justify-self: end;
}

header .right-menu a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

header .secondary-menu {
    grid-column: 3;
    grid-row: 2;
    padding: 15px 0 14px 0;
    border-bottom: 1px solid #ebebeb;
}

header .secondary-menu a {
    padding: 10px 10px 12px 10px;
    text-decoration: none;
    color: #5f6368;
}

header .secondary-menu a:hover {
    color: #3376e0;
}

header .secondary-menu .active {
    color: #3376e0;
    border-bottom: 3px solid #3376e0;
}

header .secondary-menu a:nth-child(7) {
    margin-left: 45px;
}

header .secondary-menu a:nth-child(8):hover {
    border: 1px solid #c6c6c6;
    background-color: #f5f5f5;
    color: #5f6368;
}

header .header-empty-box-left {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 22px 0;
    /* margin-left: -30px; */
    border-bottom: 1px solid #ebebeb;
}

header .header-empty-box-right {
    grid-column: 4 / span 2;
    grid-row: 2;
    padding: 22px 0;
    /* margin-right: -30px; */
    border-bottom: 1px solid #ebebeb;
}

header .search-results-number {
    grid-column: 3;
    grid-column: 3;
    font-size: 14px;
    color: #74797f;
}


/*                  SEARCH RESULTS FORMATTING
*/

main {
    display: grid;
    /* padding: 20px; */
    grid-template-columns: 100px 50px 600px auto;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: auto;
    align-items: center;
}

.search-result {
    grid-column: 3;
    grid-row: auto;
    margin-left: 20px;
}

.search-result h1 {
    font-size: 20px;
    color: #1a0eab;
    font-weight: 100;
    margin-bottom: 5px;
}

.search-result h1:hover {
    text-decoration: underline;
}

.search-result a {
    font-size: 16px;
    color:  #006621;
    text-decoration: none;
}

.search-result p {
    margin-top: 5px;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 20px;
    font-weight: 500;
}

.related-search-results {
    grid-column: 3;
    grid-row: auto;
    margin-left: 20px;
}

.related-search-results h1 {
    font-size: 20px;
    color: #222;
    font-weight: 100;
}

.related-search-results div {
    display: grid;
    grid-template-columns: 200px 200px;
}

.related-search-results a {
    text-decoration: none;
    padding: 5px 0;
    color: #1a0eab;
    font-weight: bold;
    font-size: 14px;
}

.related-search-results a:hover {
    text-decoration: underline;
}

.next-page {
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: auto auto;
    grid-row: auto;
    grid-column: 3;
    margin-top: 25px;
}

.next-page img {
    height: 35px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.next-page i {
    grid-column: 3;
    grid-row: 1;
    margin-left: -90px;
    margin-top: 10px;
    color: #4285f5;
}

.next-page div {
    grid-column: 2;
    grid-row: 2;
    padding: 15px 0;
    justify-self: center;
}

.next-page div a {
    padding: 5px;
    color: #4285f5;
    text-decoration: none;
    font-size: 14px;
}

.next-page div a:hover {
    text-decoration: underline;
}

/*                  FOOTER STYLING
 */

 footer  {
    display: grid;
    grid-template-columns: 100px 50px 600px auto;
    grid-auto-rows: auto;
    align-items: center;
    padding: 20px;
    margin: 10px 0 0 0;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
 }

 footer div {
     grid-column: 3;
     grid-row: auto;
 }

 footer div a {
     font-size: 14px;
     color: #6f6f6f;
     text-decoration: none;
     padding-right: 10px;
 }

 footer div a:hover  {
     text-decoration: underline;
 }